<nav class="navbar">
  <button (click)="logout()">Logout</button>
  <button (click)="navigateToAccountInfo()">Get Account Info</button>
  <button (click)="navigateToAccountInfoByEmail()">
    Get Account Info by Email
  </button>
  <button (click)="navigateToAccountBalance()">Balance</button>
  <button (click)="navigateToTransferFunds()">Transfer Funds</button>
  <button (click)="navigateToDepositFunds()">Deposit Funds</button>
  <button (click)="navigateToWithdrawFunds()">Withdraw Funds</button>
  <button (click)="navigateToTransactionHistory()">Transaction History</button>
  <button (click)="navigateToHome()">Home</button>
</nav>
